*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.output-card {
    background-color: black;
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    );
    height: 40vh;
    width: 120vh;
    margin: 30px;
    overflow: auto;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    box-shadow: -0 0 40px #000000;
    }
    .output-card::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
  }
  .output-card::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #FFF;
      background-image: -webkit-gradient(linear,
                                         40% 0%,
                                         75% 84%,
                                         from(#4D9C41),
                                         to(#19911D),
                                         color-stop(.6,#54DE5D))
  }
  ::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: repeating-linear-gradient(
        0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
      pointer-events: none;
  }
  .output-card::selection {
      text-shadow: none;
    }
    pre {
      margin: 0;
   /* background-color: white;
   
    margin: 30px;
    
    border: 2px solid #8b8b8b;
    border-radius: 8px;
    height: 250px;
    white-space: nowrap;
    width: 700px;
    overflow-x: auto;
    margin-bottom: -200px; */

     /* padding: 20px; */
     /* margin-top: 20px; */
}
.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: auto; */
}
.sign-up-container{
    width: 450px;
    border: 2px solid #8b8b8b;
    border-radius: 8px;
}
.sign-up-title{
    /* border: 1px solid; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-title img{
    height: 40px;
    width: 60px;
}
.sign-up-title span{
    font-size: 32px;
    font-weight: bolder;
    margin-left: 7px;
    font-family: sans-serif;
}
.signup-form{
    display: flex;
    flex-direction: column;
}
.resizing-input-fields{
    display: flex;
    flex-direction: column;
    margin: 10px 0px
}
.resizing-input-fields input{
    width: 370px;
    margin-left: 42px;
    height: 26px;
    border-radius: 6px;
    border: 1px solid #ada7a7;
}
.resizing-input-fields label{
    margin-left: 42px;
}
.checkbox{
    margin-left: 46px;
    padding-top: 20px;
}
.signup-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 10px;
}
.signup-btn input{
    color: #fff;
    background-color: #00758f;
    height: 35px;
    border: none;
    border-radius: 6px;
    width: 180px;
    margin-bottom: 20px;
}
.back-to-login{
    display: flex;
    justify-content: flex-end;
    margin-top: 31px;
}
.back-to-login a{
    text-decoration: none;
    font-size: 14px;
}

.error-message {
    margin-top: 2px;
    color: red;
    font-size: 12px;
    margin-left: 43px;
}

table{
    margin: 30px;
    text-align: center;
    width: unset !important;
    column-span: 10px;
}

.users-table {
/* margin-top: 100px; */
height: 350px;
width:900px;
overflow-y: auto;
justify-content: center;
margin-bottom: 30px;
}

.output-all {
    flex-direction: column;
    flex-wrap:wrap;
}
